In [4]:
import pandas as pd

data = pd.read_csv('MockPatientDatabaseOscar.csv', sep=';', header=0, encoding='ISO-8859-1')
data.head()

,Numero_paciente,Genero,IMC,Regimenafiliacion,Anemia,Hipercalcemia,ERC_Leve,ERC_moderada,ERC_severa,ERC_dialisis,...,AdherenciaTtoMM1Mto1,Oportunidadtratamiento,Dias_suspendidos,Dias_en_terapia,Fecha_respuesta_clinica,RespuestaClinica,Evento,time,TtoMM1,TtoMM2
0,1001,F,"21,3",Contributivo,NO,NO,NO,NO,NO,SI,...,33.0,64,0,189,7/12/2018,NaN,0,189,L(rd),L
1,1002,F,"24,4",Subsidiado,NO,NO,NO,NO,SI,NO,...,25.0,94,0,246,11/05/2019,NaN,0,246,BLd(rs),BLd
2,1003,M,"21,8",Contributivo,NO,NO,NO,SI,NO,NO,...,5.0,66,29,300,15/02/2018,NaN,0,329,BLd(rm),BLd
3,1004,F,"26,2",Contributivo,NO,NO,NO,SI,NO,NO,...,77.0,65,0,334,3/11/2019,NaN,0,334,Ld(rm),Ld
4,1005,M,"28,1",Contributivo,NO,NO,NO,SI,NO,NO,...,NaN,SD,0,SD,25/06/2019,NaN,0,611,BCd,BCd